<!DOCTYPE html>
<html>
<head>
  <title>Coca</title>
  <%= stylesheet_link_tag    "coca/application", :media => "all" %>
  <%= javascript_include_tag "coca/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
